<header>
  <nav>
    <span (click)="callMethod({geoCoordinates: this.countriesLatLng.USA, zoomChoice: 8})">United States</span>
    <span (click)="callMethod({geoCoordinates: this.countriesLatLng.Australia, zoomChoice: 11})">Australia</span>
    <span (click)="callMethod({geoCoordinates: this.countriesLatLng.Israel, zoomChoice: 8})">Israel</span>
    <span (click)="callMethod({geoCoordinates: this.countriesLatLng.France, zoomChoice: 10})">France</span>
    <span (click)="callMethod({geoCoordinates: this.countriesLatLng.Japan, zoomChoice: 9})">Japan</span>
    <span (click)="callMethod({geoCoordinates: this.countriesLatLng.Japan, zoomChoice: 2})">All clusters</span>
  </nav>
</header>